---
---

@import "minima";

.footer-col-2 { width: -webkit-calc(25% - (30px / 2)); width: calc(25% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(40% - (30px / 2)); width: calc(40% - (30px / 2)); }

// Comments styling

.comment-form {
    padding:8px;
    font-weight: 200;
    line-height: 1.4;
   }

.comment-form fieldset{
    border-width: 0px 0px 2px;
}

.comment-form input {
    color:#333;
    cursor:text;
    width: 30%;
    height: auto;
    font-size: inherit;
    margin-right: 10px;
    padding: 6px 10px 8px;
    border-color:#333;
    border-width: 1px;
}

.comment-form button {
    width: 28%;
    font-size: inherit;
    height: auto;
    padding: 6px 10px 8px;
    
}

.comment-form textarea {
    color:#333;
    cursor:text;
    display:block;
    min-height:100px;
    overflow:auto;
    width:100%;
    word-wrap:break-word;
    resize: none;
    height: auto;
    padding: 6px 10px 8px;
    box-sizing: border-box;
    font-family: inherit;
    margin-bottom: 8px;
    border-color:#333;
    border-width: 1px;
   }
